{% extends  'tracker/main.html' %}
{% load humanize %}
{% block content %}
<div class="col-lg-2"></div>
<div class="card col-lg-8">
    <div class="header">
        <h4 class="title">About Me</h4>
        <hr />
    </div>
    <div class="content">
        <p align="justify">
            Hi, I am Aaron Christian Sombrio. I am an aspiring Python Developer.
            I graduated with a degree in Electronics Engineering and pursued my passion in software development after taking the board exam.
            One of my goals in life is to develop an app that can create an impact in people's lives.
            Currently I am learning different technologies in software development to have different ideas in creating solutions.
        </p>
        <br>
        <p align="justify">
            The goal if this app is to help people track their expenses with simple actions and navigations by presenting to them various specific information about their expenses. 
        </p>
    </div>
</div>
{% endblock %}