{% extends "users/main.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4"></div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            
            <div class="card">
                <div class="header">
                    <h4 class="title">Reset Password</h4>
                    <hr/>
                </div>
                <div class="content" style="text-align:center;">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>{{ form.email.label }}: </label>
                            <input class="form-control border-input" id="{{ form.email.label.id_for_label }}" name="{{ form.email.html_name }}" />
                            {% if form.email.errors %}
                                {% for error in form.email.errors %}
                                    {{ error }}
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="text-center">
                            <button class="btn btn-info btn-fill" type="submit">Request Password Reset</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
{% endblock content %}